<div class="container justified">

    <h1>Admin</h1>
    <section id="server-message">
        <div class="justified gray-box">
            <div class="information-message-container">
                <mat-icon>error_outline</mat-icon>
                <div class=" information-message ">Cliquez sur le type de données qui intéresse</div>
            </div>
            <button class="button" routerLink="/admin/games">Parties</button>
            <button class="button" routerLink="/admin/bots">Joueurs virtuels</button>
            <button class="button" routerLink="/admin/dictionaries">Dictionnaires</button>
            <button class="button" routerLink="/admin/scores">Meilleurs scores</button>
            <button class="button important-button" routerLink="/home">Retour</button>
        </div>
    </section>
</div>