<div class="page-container">
    <div class="page-body mat-app-background" [class.mat-app-background]="themeService.darkThemeSelected">
        <app-hearder></app-hearder>
        <div class="body-main-container">
            <div class="error-message-container" *ngIf="room.roomInfo.gameType !== 'log2990' && room.roomInfo.gameType !== 'classic'">
                <mat-icon>error_outline</mat-icon>
                <div class="error-message">Votre mode de jeu est invalide, veuillez revenir en arrière</div>
            </div>
            <section id="game_creation">
                <div class="justified gray-box">
                    <button class="button" (click)="setSoloMode(true)" routerLink="/game/multiplayer/create/solo">Jouer une partie en solo</button>
                    <button class="button" (click)="setSoloMode(false)" routerLink="/game/multiplayer/create/multi">
                        créer une partie multijoueur
                    </button>
                    <button class="button" routerLink="/game/multiplayer/join">Joindre une partie multijoueur</button>
                    <button class="button important-button" routerLink="/main">Retour</button>
                </div>
            </section>
        </div>
        <div class="footer"></div>
    </div>
    <app-menu></app-menu>
</div>
