<div class="header">
    <div class="logo"></div>
    <a class="header-link" routerLink="/admin/games">Parties</a>
    <a class="header-link" routerLink="/admin/bots">Joueurs virtuels</a>
    <a class="header-link active" routerLink="/admin/dictionaries">Dictionnaires</a>
    <a class="header-link" routerLink="/admin/scores">Meilleurs scores</a>
</div>
<app-dictionaries-table></app-dictionaries-table>
<div class="admin-navigation-container">
    <button class="button important-button" routerLink="/admin">Retour</button>
</div>