// Import prebuilt-theme for mat-dialog pop up
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$important-button-disabled-color: #ad8763;
$important-button-color: #ecba8c;
$important-button-shadow-color: #a37345;
$row-border: 1px solid black;
$row-border-radius: 8px;
$marginBottom: 25px;
$importantTextBold: 1000;

/* You can add global styles to this file, and also import other style files */

:root {
    height: 100%;
    width: 100%;
}

html,
body {
    margin: 0;
    font-family: 'Nunito' !important;
    font-size: 16px !important;
    height: auto;
    max-height: 100%;
}

app-menu {
    position: sticky;
    top: 0px;
}

select {
    width: inherit !important;
}
/* CSS from https://getcssscan.com/css-buttons-examples button 29 example */

.dark-background.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark-background {
    display: none;
    position: absolute;
    left: 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
}

.page-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
}

.page-body {
    margin-left: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.form-title {
    text-align: center;
    font-size: 35px;
    font-weight: $importantTextBold;
    margin-bottom: 0px;
}

.page-title {
    margin-bottom: 50px;
}

.button {
    align-items: center;
    appearance: none;
    background-color: #7daf6b;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Nunito';
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.15s, background-color 0.15s, color 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    font-size: 18px;
    height: 45px;
    width: 100%;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: $marginBottom;
    margin-bottom: 0px;
}

.simple-label {
    position: relative;
    top: 0px;
    color: black;
    font-size: 14px;
    transition: all 0.2s ease-out;
    min-height: 22px;
    max-height: 22px;
}

.simple-label.invalid {
    color: red;
}

.simple-label.placeholder {
    top: 25px;
    color: gray;
    font-size: 16px;
}

.simple-label.placeholder:hover {
    cursor: text;
}

.simple-input {
    width: 100%;
    height: 30px;

    font-family: 'Nunito';
    font-size: 18px;
    height: 30px;

    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid black;
}

.simple-input.invalid {
    border-bottom: 2px solid red;
}

.simple-input:focus {
    outline: none;
    border-bottom: 2px solid green;
}

.simple-input-error-msg {
    min-height: $marginBottom;
    color: red;
}

.info-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.info-text-container.sign-in {
    margin-top: 0px;
    justify-content: center;
}

.input {
    border-radius: 20px;
    border-color: gray;
    padding-left: 16px;
    justify-content: center;
    font-family: 'Nunito';
    font-size: 18px;
    height: 30px;
    width: 200px;
}

.stylish-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 6px;
    background-color: white;
    border: 1px solid gray;
    width: 400px;
    color: black;
    transition: transform 0.15s;
}

.stylish-input > label {
    text-align: center;
    color: black;
}

.button:disabled {
    background-color: rgba(125, 175, 107, 0.5);
    color: white;
    cursor: default;
}

.button:disabled:hover {
}

.button:focus {
}

.button:enabled:hover {
    transform: translateY(-2px);
}

.button:enabled:active {
    transform: translateY(2px);
}

.button.important-button {
    align-items: center;
    background-color: $important-button-color;
}

.button.important-button:disabled {
    color: #333333;
    background-color: #ad8763;
    cursor: default;
}

.button.cancel-button {
    align-items: center;
    background-color: #ff4c4c;
}

.button.cancel-button:disabled {
    background-color: #eadfdf;
    cursor: default;
}

.button.cancel-button:enabled:hover {
    transform: translateY(-2px);
}

.button.cancel-button:enabled:active {
    transform: translateY(2px);
}

.button.minor-button {
    align-items: center;
    background-color: #adbca8;
}

.button.minor-button {
    width: 200px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
    gap: 20px;
}

.container {
    height: auto;
    justify-content: center;
}

.justified {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* CSS from https://getcssscan.com/css-buttons-examples button 63*/

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: #1b6fec;
}

.footer-item p :nth-child(odd) {
    color: #29e0a3;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-align: center;
    padding: 80px 0px;
}

.gray-box {
    border-radius: 8px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 12px 4px rgba(0, 0, 0, 0.2);
}

.notification {
    color: beige;
    text-align: center;
    width: 100%;
    padding: 25px 0px;
    transition: background-color 1s;
    background-color: #b15656;
}

.error-notification {
    color: #ffffff;
    background-color: #b15656;
}

.primary-notification {
    color: #ffffff;
    background-color: #337ab7;
}

#games {
    border-radius: 10px;
    font-family: 'Nunito';
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0 15px;
    background-color: white;
    border: 2px solid black;
    padding-left: 8px;
    padding-right: 8px;
}

#games td {
    padding: 8px;
}

#games td:first-child {
    border-left: $row-border;
    border-top-left-radius: $row-border-radius;
    border-bottom-left-radius: $row-border-radius;
}

#games td:last-child {
    border-right: $row-border;
    border-top-right-radius: $row-border-radius;
    border-bottom-right-radius: $row-border-radius;
}

#games td {
    border-top: $row-border;
    border-bottom: $row-border;
}

#games th {
    text-align: center;
    color: black;
}

#games td button {
    max-width: 200px;
}

.commands-container {
    border-radius: 10px;
    background-color: #f3f3f3;
    width: 385px;
    height: 140px;
    justify-content: space-evenly;
    gap: 0px;
    padding-left: 10px;
    box-shadow: 0px 20px 0px #c0c0c0;
    transition: transform 0.15s;
}

.commands-container:hover {
    transform: translateY(-4px);
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.icon {
    cursor: pointer;
    background-color: transparent;
}

.black-icon {
    color: black;
}

.red-icon {
    color: #e86070;
}

.icon:hover,
.black-icon:hover,
.red-icon:hover {
    cursor: pointer;
}

.popup-actions {
    display: flex;
    justify-content: flex-end;
}

.error-message-container {
    background-color: #ecc8c5;
    border: 1px solid #c86665;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    min-height: 40px;
    white-space: pre-line;
    margin-bottom: 20px;
}

.error-message {
    color: black;
    vertical-align: center;
    white-space: pre-line;
}

.error-message-container mat-icon {
    color: black;
}

.information-message-container {
    background-color: #d8e3fa;
    border: 1px solid #1952a7;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    min-height: 40px;
    white-space: pre-line;
}

.information-message {
    color: black;
    vertical-align: center;
    white-space: pre-line;
}

.information-message-container mat-icon {
    color: black;
}

$contrast-color: rgb(255, 255, 255);
$primary-color: #ffffff;
.admin-table {
    font-family: 'Nunito';
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0 15px;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    border: 1px solid black;
}

.admin-table td {
    background-color: $primary-color;
    padding: 8px;
    color: rgb(0, 0, 0);
}

.admin-table td:first-child {
    border-left: $row-border;
    border-top-left-radius: $row-border-radius;
    border-bottom-left-radius: $row-border-radius;
}

.admin-table td:last-child {
    border-right: $row-border;
    border-top-right-radius: $row-border-radius;
    border-bottom-right-radius: $row-border-radius;
}

.admin-table td {
    border-top: $row-border;
    border-bottom: $row-border;
}

.admin-table th {
    text-align: left;
    padding-left: 8px;
    color: black;
}

.admin-table td button {
    padding: 8px;
    background-color: #5c6dad; // #586cae;
    border-radius: 4px;
    color: white;
    border: 0px;
}

.admin-table td button:hover {
    cursor: pointer;
    background-color: #6b7bb3;
    transition: 0.5s;
}

.header {
    background: #141834;
    background: radial-gradient(circle, #141834 0%, #13162f 100%);
    box-shadow: 0 8px 4px #0e0e23;
    width: 100%;
    padding: 0;
    -webkit-animation: top 1s both;
    animation: top 1s both;
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-size: 15px;
    white-space: nowrap;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.header-link {
    color: #9b9ca7;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.header-link:hover,
.active {
    background: #11132c;
    border-bottom: 3px solid #b0c7f3;
}

.admin-navigation-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up-chat .mat-dialog-container {
    padding: 0px;
}

.fa-wechat {
    color: #7daf6b;
    cursor: pointer;
    position: absolute;
    right: 2%;
    bottom: 2%;
}
