<div #menuContainer class="menu-container">
    <div class="menu" [class.game-page]="isGamePage">
        <div *ngIf="!isGamePage" class="first icons-container">
            <i class="fa fa-user" (click)="navigateUserPage()"></i>
            <i class="fa fa-home" (click)="navigateHome()"></i>
            <div *ngIf="!isNewChatWindowOpen" (click)="showChatMenu()" class="icon material-symbols-outlined discussion-out">chat_bubble</div>
            <button *ngIf="isNewChatWindowOpen" (click)="closeChatNewWindow()" class="icon">Close chat</button>
            <i class="fa fa-trophy" (click)="navigateUserPage()"></i>
            <i class="fa fa-eye" (click)="navigateUserPage()"></i>
        </div>
        <div *ngIf="!isGamePage" class="second icons-container">
            <i class="fa fa-gear" (click)="navigateSettings()"></i>
            <div *ngIf="!isNewChatWindowOpen" (click)="logOut()" class="icon material-symbols-outlined discussion-out">logout</div>
        </div>

        <div *ngIf="isGamePage" class="icons-container game-page">
            <div *ngIf="!isGameOver" (click)="showHint()" class="hint-icon" [class.disabled]="!isYourTurn() || hintService.nbHints === 0">
                <div class="red-dot" [class.disabled]="!isYourTurn() || hintService.nbHints === 0">
                    {{ hintService.nbHints ? hintService.nbHints : 0 }}
                </div>
                <i class="material-symbols-outlined" *ngIf="!isGameOver" [class.disabled]="!isYourTurn() || hintService.nbHints === 0"
                    >emoji_objects</i
                >
            </div>
            <span *ngIf="!isNewChatWindowOpen" (click)="showChatMenu()" class="icon material-symbols-outlined discussion-in"> chat_bubble </span>
            <button *ngIf="isNewChatWindowOpen" (click)="closeChatNewWindow()" class="icon game-page">Close chat</button>
            <i class="fa fa-flag" (click)="confirmLeaving()" *ngIf="!isGameOver"></i>
            <div *ngIf="isGameOver" (click)="leaveGame()" class="material-symbols-outlined quit">logout</div>
        </div>

        <!-- CHAT MENU -->
        <div #chatMenu class="chat-menu">
            <div class="chats-list-container">
                <div class="search-chat-container">
                    <div class="simple-input-container">
                        <input class="simple-input" type="text" />
                        <style>
                            .material-symbols-outlined {
                                font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 18;
                            }
                        </style>
                        <span class="material-symbols-outlined search-button"> search </span>
                    </div>
                </div>
                <div></div>
                <button *ngIf="roomChannel.name" (click)="showRoomChatChannel()" class="chat-button chat-name">
                    {{ roomChannel.name }}
                </button>
                <div *ngFor="let discussionChannel of availableDiscussionChannels; index as i" class="chats-list">
                    <button (click)="showChatChannel(i)" class="chat-button" [class.chat-title]="i === 0" [class.chat-name]="i !== 0">
                        {{ discussionChannel.name }}
                    </button>
                    <hr *ngIf="i === 0" size="1" width="97%" />
                </div>
            </div>
            <button (click)="createChatChannel('custom channel')" class="button new-channel">New Chat</button>
        </div>
    </div>
    <div #chatContainer class="chat-container" [class.game-page]="isGamePage">
        <div *ngIf="!isWaitMultiPage" class="chat-header">
            <div></div>
            <div>
                <button (click)="openChatOnNewWindow()">new window</button>
                <button class="close-chat-button" (click)="closeChat()">X</button>
            </div>
        </div>
        <div *ngIf="isWaitMultiPage" class="waiting-room-header">
            <div class="game-info-container">
                <div class="game-info">
                    <div class="game-info-icon">[+_+]</div>
                    <div class="game-info-value">{{ room.botsLevel }}</div>
                </div>
                <div class="game-info">
                    <span class="material-symbols-outlined game-info-icon"> Alarm </span>
                    <div class="game-info-value">{{ formattedTimerPerTurn }}</div>
                </div>
            </div>
            <div class="game-players">
                <img class="avatar" [src]="room.players[0] ? room.players[0].clientAccountInfo.userSettings.avatarUrl : botAvatarUrl" />
                <img class="avatar" [src]="room.players[1] ? room.players[1].clientAccountInfo.userSettings.avatarUrl : botAvatarUrl" />
                <img class="avatar" [src]="room.players[2] ? room.players[2].clientAccountInfo.userSettings.avatarUrl : botAvatarUrl" />
                <img class="avatar" [src]="room.players[3] ? room.players[3].clientAccountInfo.userSettings.avatarUrl : botAvatarUrl" />
            </div>
            <div class="game-buttons">
                <button class="button cancel-button" (click)="leaveRoom()" routerLink="/game/option">Quitter</button>
                <button [disabled]="room.players.length <= 1 || !isGameCreator" (click)="requestGameStart()" class="button">Démarrer</button>
            </div>
        </div>
        <app-general-chat [discussionChannel]="selectedDiscussionChannel"></app-general-chat>
    </div>
    <div #menuDarkBackground (click)="closeChatMenu()" class="dark-background"></div>
</div>
