<mat-sidenav-container>
    <mat-sidenav #drawer>
        <app-user-summary></app-user-summary>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="page-container mat-app-background" [class.mat-app-background]="themeService.darkThemeSelected">
            <div class="page-body">
                <div class="header"></div>
                <div class="body-main-container">
                    <div (click)="updateFocus($event)">
                        <div id="main-page-container" class="test">
                            <div id="left-panel"></div>
                            <div id="board-rack">
                                <app-play-area #playArea></app-play-area>
                            </div>
                            <div class="right-panel">
                                <div class="top-content">
                                    <app-players-infos [inputSideNav]="drawer"></app-players-infos>
                                </div>
                                <div class="bottom-content">
                                    <app-goals-container></app-goals-container>
                                    <app-rack id="rack"></app-rack>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer"></div>
            </div>
            <app-menu [isGamePage]="true"></app-menu>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
