app-goals-container {
    display: flex;
    width: 100%;
}

app-rack {
    width: 100%;
}

.body-main-container {
    width: 100%;
}

.mat-drawer-content {
    background-color: var(--app-background);
}

.command {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ecba8c;
    width: 100px;
    height: 80px;
    border-radius: 5px;
    margin-right: 10px;

    border: 0;

    color: black;
    font-family: 'Nunito';
    font-size: 20px;

    box-shadow: 0px -10px 0px #bb9573 inset;
    cursor: pointer;
    transition: box-shadow 0.15s, transform 0.15s;
}

#left-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 50px;
}

#board-rack {
    height: 800px;
}

.test {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.command:hover {
    transform: translateY(-2px);
}

.command:enabled:active {
    transform: translateY(2px);
    box-shadow: 0px -7px 0px #bb9573 inset;
}

.mat-drawer-container {
    background-color: white;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #7daf6b;
}

#main-page-container {
    gap: 30px;
}

#button-container .button {
    max-width: 185px;
    max-height: 50px;
}

.fa-comment {
    color: #7daf6b;
    font-size: 43px;
    cursor: pointer;
}

.quit {
    cursor: pointer;
    font-size: 43px;
    color: #ff0000;
    font-variation-settings: 'FILL' 1, 'wght' 900, 'GRAD' 0, 'opsz' 48;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    margin-right: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: var(--app-background);
}

.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    min-width: 300px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: var(--theme-background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-content {
    width: 100%;
}

.side-container {
    max-width: 300px;
    gap: 20px;
}

.button.quit-button {
    color: black;
    align-items: center;
    background-color: #ffc7c7;
    box-shadow: #ff8989 0 -7px 0px inset;
}

.button.quit-button:disabled {
    color: #333333;
    background-color: #eadfdf;
    box-shadow: #d9bdbd 0 -7px 0px inset;
    cursor: default;
}

.button.quit-button:enabled:hover {
    box-shadow: rgba(179, 57, 93, 0.4) 0 -7px 0px inset;
    transform: translateY(-2px);
}

.button.quit-button:enabled:active {
    box-shadow: #ff8989 0 3px 7px inset;
    transform: translateY(2px);
}

.page-body {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    // background-image: var(--theme-background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
