<div class="player-info-container">
    <div class="players-names">
        <div class="head-info">
            <h2 class="reserve">{{ lettersBankCount }}</h2>
            <i class="fa fa-clone"></i>
        </div>

        <div class="timer">{{ ('0' + min).slice(-2) }}:{{ ('0' + sec).slice(-2) }}</div>

        <div class="head-info">
            <h2 class="reserve">{{ room.observers.length }}</h2>
            <i class="fa fa-eye"></i>
        </div>
    </div>
    <div class="gamers-displayer">
        <div class="gamers">
            <div class="player-panel" *ngFor="let player of room.players">
                <div>{{ player.clientAccountInfo.username }}</div>
                <div *ngIf="winnerPseudo === player.clientAccountInfo.username || numberOfWinner > 1" class="crown">👑</div>
                <div
                    class="avatar"
                    [class.player-active]="player.clientAccountInfo.username === currentPlayerTurnPseudo && !isGameOver"
                    (click)="showSummary(player)"
                >
                    <img class="avatar" [src]="player.clientAccountInfo.userSettings.avatarUrl" />
                </div>
                <div class="points">{{ player.points }}</div>
            </div>
        </div>
        <div class="side-button-container">
            <i class="fa fa-forward" (click)="changePlayerTurn()" [class.disabled]="!isActivePlayer || isGameOver"></i>
        </div>
    </div>
</div>
