<div class="player-info-container">
    <div class="players-names">
        <div class = head-info>
            <h2 class = "reserve">{{lettersBankCount}}</h2>
            <i class = "fa fa-clone"></i>
        </div>
        

        <div class="timer">{{ ('0' + min).slice(-2) }}:{{ ('0' + sec).slice(-2) }}</div>

        
        <div class = head-info>
            <h2 class = "reserve">12</h2>
            <i class = "fa fa-eye"></i>
        </div>
    </div>
    <div class = "gamers-displayer">
        <div class = "gamers">
            <div class="player-panel client-player"          
            [class.player-winner]="winnerPseudo === getPlayerInfo(true, 'pseudo') || numberOfWinner > 1">
                <div class = avatar  [class.player-active]="getPlayerInfo(true, 'pseudo') === currentPlayerTurnPseudo"></div>
                <div>{{ getPlayerInfo(true, 'score') }}</div>
            </div>
            <div class="player-panel"
                [class.player-winner]="winnerPseudo === getPlayerInfo(false, 'pseudo') || numberOfWinner > 1">
                    <!-- {{ getPlayerInfo(false, 'pseudo') }} -->
                <div class = avatar [class.player-active]="getPlayerInfo(false, 'pseudo') === currentPlayerTurnPseudo"></div> 
                <div>{{ getPlayerInfo(false, 'score') }}</div>
            </div>
        </div>
        <div class="side-button-container">
            <!-- [disabled]="!isActivePlayer || isGameOver" -->
            <i class = "fa fa-forward" (click)="changePlayerTurn()" [class.disabled]="!isActivePlayer || isGameOver"></i>
        </div>
    </div>
    <div *ngIf="isGameOver && numberOfWinner === 1" class="flex-center">Félicitation à: {{ winnerPseudo }}!</div>
    <div *ngIf="isGameOver && numberOfWinner > 1" class="flex-center">
        Félicitation à: {{ getPlayerInfo(true, 'pseudo') }} et {{ getPlayerInfo(false, 'pseudo') }}!
    </div>
</div>
