#dictionary-text {
    text-align: center;
    font-family: 'Nunito';
    font-size: 20px;
}

.reserve {
    margin: 8px;
}

.head-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
}

.avatar.player-active {
    border: var(--accent-hover) 5px solid;
}

.player-panel.player-winner {
    background-color: #e9af4e;
}

.avatar {
    border-radius: 100%;
    width: 64px;
    height: 64px;
    background-color: gray;
}

.fa-clone,
.fa-eye {
    font-size: 36px;
}

.fa-forward {
    color: var(--accent);
    font-size: 56px;
    margin-right: 16px;
    cursor: pointer;
}

.disabled {
    color: rgba(128, 128, 128, 0.2);
    cursor: default;
}

.crown{
    z-index: 100000;
    position: relative;
    bottom: 0;
    font-size: 36px;
    height: 1px;
    left: 60%;
    transform: rotate(42deg);
    overflow: visible;
}

.gamers-displayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gamers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.client-player.player-panel.player-active {
    border: var(--accent-hover) 5px solid;
}

.client-player.player-panel.player-winner {
    background-color: #e9af4e;
}

.players-names {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.player-info-container {
    color: var(--basic-font-color);
}

.player-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

    background-color: var(--app-background);
    width: 64px;
    height: 120px;
    border-radius: 5px;
    margin-right: 10px;

    transition: box-shadow 0.5s, background-color 0.5s, transform 0.15s, border 0.15s;
}
.player-panel.client-player div {
    font-weight: bold;
}

.player-panel:hover {
    transform: translateY(-2px);
}

.point {
    color: var(--basic-font-color);
    font-family: 'Nunito';
    font-size: 25px;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
    font-family: 'Nunito';
    font-size: 25px;
    align-items: center;
    color: var(--basic-font-color);
    min-width: 100px;
}

.flex-center {
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    font-size: 20px;
    color: #515151;
}

button {
    padding: 8px;
    border-radius: 5px;
}
