

#dictionary-text {
    text-align: center;
    font-family: 'Nunito';
    font-size: 20px;
}


.reserve {
    margin: 8px;
}

.head-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
}

.avatar.player-active {
    border: #38cb3e 5px solid;
}

.player-panel.player-winner {
    background-color: #e9b04ee3;
}

.avatar {
    border-radius: 100%;
    width: 64px;
    height: 64px;
    background-color: gray;
}

.crown{
    position: relative;
    bottom: 9%;
    font-size: 36px;
    height: 1px;
    left: 70%;
    transform: rotate(42deg);
    overflow: visible;
}

.fa-clone, .fa-eye {
    font-size: 36px;
}

.fa-forward {
    color: #7DAF6B;
    font-size: 56px;
    margin-right: 16px;
    cursor: pointer;
}

.disabled {
    color: rgba(128, 128, 128, 0.2);
    cursor: default;
}

.gamers-displayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gamers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.client-player.player-panel.player-active {
    border: #38cb3e 5px solid;
}

.client-player.player-panel.player-winner {
    background-color: #e9af4e;
}

.players-names {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.player-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

    background-color: #ffffff;
    width: 64px;
    height: 120px;
    border-radius: 5px;
    margin-right: 10px;

    transition: box-shadow 0.5s, background-color 0.5s, transform 0.15s, border 0.15s;
}
.player-panel.client-player div {
    font-weight: bold;
}

.player-panel:hover {
    transform: translateY(-2px);
}

.points {
    color: #515151;
    font-family: 'Nunito';
    font-size: 25px;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
    font-family: 'Nunito';
    font-size: 25px;
    align-items: center;
    color: #515151;
    min-width: 100px;
}

.flex-center {
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    font-size: 20px;
    color: #515151;
}

button {
    padding: 8px;
    border-radius: 5px;
}
