$avatarMinDimension: 60px;

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0%;
}

.chat-list {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0px 24px rgba(0, 0, 0, 0.4);
    font-family: 'Nunito';
    justify-content: space-around;
}

.chat-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--basic-font-color);
    gap: 25px;
    margin-top: 15px;
}

.user-chat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &.my {
        flex-direction: row-reverse;
    }
}

.chat-avatar {
    min-width: $avatarMinDimension;
    min-height: $avatarMinDimension;
    max-width: $avatarMinDimension;
    max-height: $avatarMinDimension;

    border-radius: $avatarMinDimension;
    margin: 0px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.bold-title {
    font-weight: bolder;
    font-size: 40px;
    margin: 10px 0px;
    font-family: 'Nunito';
}

.chat {
    color: var(--basic-font-color);
    min-height: 80%;
    max-height: 80%;
    margin: 0px 20px;
    padding: 0px 20px;
    font-family: 'Nunito';
    font-size: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.name {
    margin: 0;
    font-weight: bold;
}

.hour {
    font-size: 16px;
    margin: 0px;
}

.system-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0;
}

.system-message p {
    margin: 0;
}

.right {
    float: right;
}

.my {
}

.bubble-text {
    padding: 16px;
    border-radius: 4px;
    width: fit-content;
    max-width: 60%;
    margin: 0;
    background-color: #e6e6e6;
    overflow-wrap: break-word;

    &.my {
        background-color: var(--accent);
    }
}

.chat-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 90%;

    &.my {
        align-items: flex-end;
    }
}

.bubble-text p {
    margin: 0;
}

.my-message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-wrap: break-word;
}

.their {
    background-color: var(--their-chat-bubble-background);
    overflow-wrap: break-word;
}

.search-bar {
    width: 80%;
    height: 5%;
    margin-bottom: 32px;
    border-radius: 4px;
    border: solid 1px #00000045;
    outline: none;
    font-size: 20px;
    font-family: 'Nunito';
    align-self: center;
}

.chat-name {
    font-size: 24px;
    font-weight: bold;
    float: left;
    padding-left: 10%;
    margin: 0;
    cursor: pointer;
    color: var(--basic-font-color);
}

.button {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    border-radius: 4px;
    align-self: center;
    width: 80%;
    height: 100%;

    &.cancel-button {
        &.channel {
            width: fit-content;
            height: fit-content;
            padding: 10px;
            font-size: 20px;
        }
    }
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 100%;
    background-color: var(--section-background);
}

.btn-container {
    width: 100%;
    height: 7.5%;
    display: flex;
    flex-direction: column;
}

.chat-bar-container {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-bar {
    width: 80%;
    border-radius: 4px;
    border: solid 1px #00000045;
    outline: none;
    font-size: 24px;
    font-family: 'Nunito';
    margin-right: 16px;
    background-color: var(--section-background);
    color: var(--basic-font-color);

    &.error {
        border: 3px solid red;
    }
}

.enabled {
    color: var(--accent);
    cursor: pointer;
}

.disabled {
    color: var(--their-chat-bubble-background);
}
