<div class="page mat-app-background" [class.mat-app-background]="themeService.darkThemeSelected">
    <div class="chat-title">
        <H1 class="bold-title">{{ discussionChannel.name }}</H1>
        <button
            *ngIf="canQuitChannel"
            [disabled]="!isInChannel"
            (click)="handleLeaveChannel()"
            class="button cancel-button channel"
            [translate]="'OTHER.QUIT'"
        ></button>
    </div>
    <div class="chat">
        <div
            *ngFor="let chat of discussionChannel.messages"
            [class.my-message]="isSender(chat)"
            [class.their-message]="!isSender(chat) && !chat.system"
            [class.system-message]="chat.system"
        >
            <div class="user-chat-container" [class.my]="isSender(chat)" *ngIf="!chat.system">
                <img
                    class="chat-avatar"
                    [src]="chat.avatarUrl || 'https://res.cloudinary.com/dejrgre8q/image/upload/v1678661515/EinsteinAvatar_n2h25k.png'"
                />
                <div class="chat-info-container" [class.my]="isSender(chat)">
                    <p class="hour">{{ chat.time }}</p>
                    <div class="bubble-text" [class.my]="isSender(chat)" [class.their]="!isSender(chat)">
                        <p *ngIf="!isSender(chat)" class="name">{{ chat.sender }}</p>
                        <p>{{ chat.message }}</p>
                    </div>
                </div>
            </div>

            <hr *ngIf="chat.system" style="margin-top: 0%" width="10%" size="1" />
            <p *ngIf="chat.system">{{ chat.message }}</p>
        </div>
    </div>
    <div class="chat-bar-container">
        <input
            *ngIf="isInChannel"
            [(ngModel)]="inputValue"
            (keyup.enter)="sendChannelMessage()"
            class="chat-bar"
            type="text"
            placeholder="{{ 'GENERAL-PAGE.PLACEHOLDER' | translate }}"
        />
        <input
            *ngIf="!isInChannel"
            [(ngModel)]="inputValue"
            (keyup.enter)="sendChannelMessage()"
            class="chat-bar error"
            type="text"
            placeholder="{{ 'GENERAL-PAGE.JOIN-CHANNEL-PLACEHOLDER' | translate }}"
        />
        <i class="fa fa-send fa-2x" [ngClass]="{ enabled: enable, disabled: !enable }" (click)="sendChannelMessage()"></i>
    </div>
</div>
