
<mat-tab-group mat-stretch-tabs>
    <mat-tab label = "Objectifs">
        <div class="side-container" class="flex-column">
    <div id="main-container">
        <app-goal
                    *ngFor="let goal of publicGoals"
                    class="public-goal"
                    [title]="goal.title"
                    [description]="goal.description"
                    [reward]="goal.reward"
                    [reached]="goal.reached"
                    [isPublic]="goal.isPublic"
                    style="width: 96%;"
                ></app-goal>
        <!-- <div id="goals-container">
            <app-goal
                class="private-goal"
                [title]="privateGoal.title"
                [description]="privateGoal.description"
                [reward]="privateGoal.reward"
                [reached]="privateGoal.reached"
                [isPublic]="privateGoal.isPublic"
            ></app-goal>
            <div id="public-goals-container">
                <app-goal
                    *ngFor="let goal of publicGoals"
                    class="public-goal"
                    [title]="goal.title"
                    [description]="goal.description"
                    [reward]="goal.reward"
                    [reached]="goal.reached"
                    [isPublic]="goal.isPublic"
                ></app-goal>
            </div>
        </div>
    </div>
    <div class="commands-container flex-row">
        <app-goal
            *ngIf="is2990GameType === true"
            class="private-goal"
            [title]="otherPlayerPrivateGoal.title"
            [description]="otherPlayerPrivateGoal.description"
            [reward]="otherPlayerPrivateGoal.reward"
            [reached]="otherPlayerPrivateGoal.reached"
            [isPublic]="otherPlayerPrivateGoal.isPublic"
        ></app-goal> -->
    </div>
</div>

    </mat-tab>
    <mat-tab label = "Chevalets">
        <div id="main-container"></div>
    </mat-tab>
</mat-tab-group>
