<div class = "statistics">
    <h2 [translate]="'SETTINGS-PAGE.STATISTICS.TITLE'"></h2>
    <div class ="stat-displayer">
        <div class = stat>
            <h3 [translate]="'SETTINGS-PAGE.STATISTICS.PLAYED'"></h3>
            <p>{{gameStat ? gameStat.playedGamesCount : 0}}</p>
        </div>
        <div class = stat>
            <h3 [translate]="'SETTINGS-PAGE.STATISTICS.WON'"></h3>
            <p>{{gameStat ? gameStat.gamesWonCount : 0}}</p>
        </div>
        <div class = stat>
            <h3 [translate]="'SETTINGS-PAGE.STATISTICS.AVG'"></h3>
            <p>{{gameStat ? gameStat.averagePointsByGame: 0}}</p>
        </div>
        <div class = stat>
            <h3 [translate]="'SETTINGS-PAGE.STATISTICS.AVG-TIME'"></h3>
            <p>{{gameStat && gameStat.averageGameDuration !== "" ? gameStat.averageGameDuration : "0s"}}</p>
        </div>
    </div>
</div>
<div class = "historic-section">
    <h2 [translate]="'SETTINGS-PAGE.HISTORY'"></h2>
    <div class ="historics">
        <div class = "hist-container">
            <h3 [translate]="'SETTINGS-PAGE.CONNECTION'"></h3>
            <div class = first-historic>
                <p class = "log" *ngFor = "let log of gameStat?.logs">{{log.time}} , {{log.message}}</p>
                <p class = "log" *ngIf = "!gameStat || gameStat.logs.length === 0" [translate]="'SETTINGS-PAGE.NO-INFO'"></p>
            </div>
        </div>
        <div class = "hist-container">
            <h3 [translate]="'SETTINGS-PAGE.STATISTICS.PLAYED'"></h3>
            <div class = second-historic>
                <div *ngFor = "let game of gameStat?.playedGames" class = game-card>
                        <div class = "line">
                            <p>{{game.startDateTime}}</p>
                            <p class = "crown" [class.disabled] = "!game.won">👑</p>
                        </div>
                        <div class = "line">
                            <div style="display: flex; flex-direction: row;">
                                <p [translate]="'SETTINGS-PAGE.STATISTICS.DURATION'"> </p>
                                <p>{{game.duration}}</p>
                            </div>
                            <p >Score: {{game.score}}</p>
                        </div>
                </div>
                <p class = "log" *ngIf = "!gameStat || gameStat.playedGames.length === 0" [translate]="'SETTINGS-PAGE.NO-INFO'"></p>
            </div>
        </div>
    </div>
</div>
