.header-img-container {
    margin-top: 30px;
    margin-bottom: 70px;
}

.user {
    position: absolute;
    border-radius: 100%;
    right: 2%;
    height: 60px;
    width: 60px;
    background-color: white;
    z-index: 1000;
    cursor: pointer;
    object-fit: cover;
}
