<div #menuContainer class="menu-container mat-app-background" [class.mat-app-background]="themeService.darkThemeSelected">
    <div class="menu" [class.game-page]="isGamePage">
        <div *ngIf="!isGamePage" class="icons-container">
            <button (click)="showChatMenu()" class="icon">Chat</button>
        </div>

        <!-- CHAT MENU -->
        <div #chatMenu class="chat-menu">
            <div class="chats-list-container">
                <div class="search-chat-container">
                    <input class="simple-input" type="text" />
                    <button class="search-button">Search</button>
                </div>
                <div></div>
                <button *ngIf="roomChannel.name" (click)="showRoomChatChannel()" class="chat-button chat-name">
                    {{ roomChannel.name }}
                </button>
                <div *ngFor="let discussionChannel of availableDiscussionChannels; index as i" class="chats-list">
                    <button (click)="showChatChannel(i)" class="chat-button" [class.chat-title]="i === 0" [class.chat-name]="i !== 0">
                        {{ discussionChannel.name }}
                    </button>
                    <hr *ngIf="i === 0" size="1" width="97%" />
                </div>
            </div>
            <button (click)="createChatChannel('custom channel')" class="button new-channel" [translate]="'OTHER.CREATE-CHAT-BUTTON'"></button>
        </div>
    </div>
    <div #chatContainer class="chat-container" [class.game-page]="isGamePage">
        <app-general-chat [discussionChannel]="selectedDiscussionChannel"></app-general-chat>
    </div>
    <div #menuDarkBackground (click)="closeChatMenu()" class="dark-background"></div>
</div>
