<div class="page-container">
    <div class="page-body">
        <H1>Joueurs virtuels à thème</H1>
        <div class="container">
            <div class="row">
                <app-virtual-player [botId]="'Mozart'" [difficulty]="difficulty.Mozart" [time]="time.Mozart"></app-virtual-player>
                <app-virtual-player [botId]="'Santa'" [difficulty]="difficulty.Santa" [time]="time.Santa"></app-virtual-player>
                <app-virtual-player [botId]="'Serena'" [difficulty]="difficulty.Serena" [time]="time.Serena"></app-virtual-player>
            </div>
            <div class="row">
                <app-virtual-player [botId]="'Trump'" [difficulty]="difficulty.Trump" [time]="time.Trump"></app-virtual-player>
                <app-virtual-player [botId]="'Einstein'" [difficulty]="difficulty.Einstein" [time]="time.Einstein"></app-virtual-player>
            </div>
        </div>
    </div>
    <app-menu></app-menu>
</div>
