<div class="page-container">
    <div class="page-body">
        <!-- <div class="waiting-room-header">
            <div class="game-info-container">
                <div class="game-info">
                    <div class="game-info-icon">[+_+]</div>
                    <div class="game-info-value">Difficile</div>
                </div>
                <div class="game-info">
                    <div class="game-info-icon">[V]</div>
                    <div class="game-info-value">1 min</div>
                </div>
            </div>
            <div class="game-players">
                <img class="avatar" src="https://cdn.discordapp.com/attachments/752935531696095366/1077056136559198249/th-1494950794.jpg" />
                <img class="avatar" src="https://cdn.discordapp.com/attachments/752935531696095366/1077056136886358106/th-2630855852.jpg" />
                <img class="avatar" src="https://cdn.discordapp.com/attachments/752935531696095366/1077056136559198249/th-1494950794.jpg" />
                <img class="avatar" src="https://cdn.discordapp.com/attachments/752935531696095366/1077056136886358106/th-2630855852.jpg" />
            </div>
            <div class="game-buttons">
                <button class="button cancel-button" (click)="leaveRoom()" routerLink="/game/option">Quitter</button>
                <button class="button important-button" [disabled]="!otherPlayerExist" (click)="rejectPlayer()">Rejeter</button>
                <button [disabled]="!otherPlayerExist" (click)="acceptPlayer()" class="button">Démarrer</button>
            </div>
        </div> -->
        <div></div>
        <div></div>
        <div class="footer"></div>
    </div>
    <app-menu [isWaitMultiPage]="true"></app-menu>
</div>
