<div class="page-container">
    <div class="page-body mat-app-background" [class.mat-app-background]="themeService.darkThemeSelected">
        <app-hearder></app-hearder>
        <div class="body-main-container">
            <div class="gray-box">
                <form class="auth-form" [formGroup]="loginForm">
                    <div *ngIf="isPasswordResetForm" class="form-title">Réinitialisation du mot de passe</div>
                    <div *ngIf="!isPasswordResetForm" class="form-title">Changement de mot de passe</div>

                    <div *ngIf="!isPasswordResetForm" class="input-container error-msg">
                        <label #temporaryPasswordLabel (click)="focusInput(temporaryPasswordInput)" class="simple-label placeholder"
                            >Entrez le mot de passe envoyé à votre courriel</label
                        >
                        <input
                            #temporaryPasswordInput
                            (focus)="setPlaceholderAsLabel(temporaryPasswordLabel)"
                            (input)="setPlaceholderAsLabel(temporaryPasswordLabel)"
                            (blur)="setLabelAsPlaceholder(temporaryPasswordLabel, 'temporaryPassword')"
                            [class.invalid]="isEmailInvalid"
                            formControlName="temporaryPassword"
                            name="temporaryPassword"
                            type="text"
                            class="simple-input"
                        />
                    </div>
                    <div *ngIf="isPasswordResetForm" class="input-container error-msg">
                        <label #emailLabel (click)="focusInput(emailInput)" class="simple-label placeholder">Adresse Courriel</label>
                        <input
                            #emailInput
                            (focus)="setPlaceholderAsLabel(emailLabel)"
                            (input)="setPlaceholderAsLabel(emailLabel)"
                            (blur)="setLabelAsPlaceholder(emailLabel, 'email')"
                            [class.invalid]="isEmailInvalid"
                            formControlName="email"
                            name="email"
                            type="email"
                            class="simple-input"
                        />
                        <div class="simple-input-error-msg">
                            {{ invalidEmailText }}
                        </div>
                    </div>
                    <div *ngIf="!isPasswordResetForm" class="input-container">
                        <label #passwordLabel (click)="focusInput(passwordInput)" class="simple-label placeholder">Nouveau mot de Passe</label>
                        <input
                            #passwordInput
                            (focus)="setPlaceholderAsLabel(passwordLabel)"
                            (input)="setPlaceholderAsLabel(passwordLabel)"
                            (blur)="setLabelAsPlaceholder(passwordLabel, 'password')"
                            (keyup.enter)="submitConnection()"
                            formControlName="password"
                            name="password"
                            type="password"
                            class="simple-input"
                        />
                    </div>
                    <div *ngIf="!isPasswordResetForm" class="input-container error-msg">
                        <label #passwordConfirmLabel (click)="focusInput(passwordConfirmInput)" class="simple-label placeholder">
                            Confirmez le nouveau mot de Passe
                        </label>
                        <input
                            #passwordConfirmInput
                            (focus)="setPlaceholderAsLabel(passwordConfirmLabel)"
                            (input)="setPlaceholderAsLabel(passwordConfirmLabel)"
                            (blur)="setLabelAsPlaceholder(passwordConfirmLabel, 'confirmPassword')"
                            formControlName="confirmPassword"
                            name="confirmPassword"
                            type="password"
                            class="simple-input"
                        />
                        <div class="simple-input-error-msg">{{ invalidConfirmPassWordText }}</div>
                    </div>

                    <!--<button (click)="submitConnection()" [disabled]="!isPseudoValid" class="button">Se Connecter</button> -->
                    <div class="simple-input-error-msg">{{ invalidLoginInfo }}</div>

                    <button *ngIf="isPasswordResetForm" [disabled]="!areLoginInfoValid" (click)="submitPasswordReset()" class="button">
                        Réinitialiser
                    </button>
                    <button *ngIf="!isPasswordResetForm" [disabled]="!areSignInInfoValid" (click)="submitConnection()" class="button">
                        Se connecter
                    </button>
                    <button class="button important-button" routerLink="/home">Retour</button>
                </form>
                <div *ngIf="emailSent" class="info-text-container sign-in">
                    <div class="info-text">En attente de la confirmation de votre email</div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</div>
