$marginBottom: 25px;
$importantTextBold: 1000;

.auth-form {
    margin-bottom: $marginBottom;
}

.form-title {
    margin-bottom: 30px;
}

.button {
    margin: 25px 0px 10px 0px;
    border-radius: 30px;
    min-width: 300px;
}

.button-text {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    font-family: 'Nunito';
    font-size: 14px;
    color: #7daf6b;
    font-weight: $importantTextBold;
    padding: 0px;
}

.button-text:hover {
    cursor: pointer;
}

.page-body {
    margin-left: 0px;
}
