<div class="page-container">
    <div class="page-body">
        <app-hearder></app-hearder>

        <div class="body-main-container">
            <div class="page-title">
                <div class="form-title">Partie Disponibles</div>
                <hr style="margin-top: 0%; background-color: black" width="35%" size="1" />
            </div>

            <div class="column-grid" [class.two]="availableRooms.length > 1">
                <div class="game" *ngFor="let availableRoom of availableRooms">
                    <div class="game-info-container">
                        <div class="game-info">
                            <div class="game-info-icon">[+_+]</div>
                            <div class="game-info-value">Difficile</div>
                        </div>
                        <div class="game-info">
                            <div class="game-info-icon">[V]</div>
                            <div class="game-info-value">Difficile</div>
                        </div>
                    </div>

                    <div class="game-body">
                        <div class="game-players">
                            <img
                                class="avatar"
                                src="https://cdn.discordapp.com/attachments/752935531696095366/1077056136559198249/th-1494950794.jpg"
                            />
                            <img
                                class="avatar"
                                src="https://cdn.discordapp.com/attachments/752935531696095366/1077056136886358106/th-2630855852.jpg"
                            />
                            <img
                                class="avatar"
                                src="https://cdn.discordapp.com/attachments/752935531696095366/1077056136559198249/th-1494950794.jpg"
                            />
                            <img
                                class="avatar"
                                src="https://cdn.discordapp.com/attachments/752935531696095366/1077056136886358106/th-2630855852.jpg"
                            />
                        </div>
                        <div class="game-buttons">
                            <button
                                *ngIf="availableRoom.roomInfo.isPublic && availableRoom.roomInfo.password.length > 0"
                                class="button"
                                (click)="openPasswordPopup(availableRoom, roomPasswordPopup, darkBackground)"
                                [disabled]="isInRoom || availableRoom.roomInfo.gameType !== room.roomInfo.gameType"
                            >
                                Joindre [KEY]
                            </button>
                            <button
                                *ngIf="availableRoom.roomInfo.isPublic && availableRoom.roomInfo.password.length === 0"
                                class="button"
                                (click)="joinRoom('', availableRoom)"
                                [disabled]="isInRoom || availableRoom.roomInfo.gameType !== room.roomInfo.gameType"
                            >
                                Joindre
                            </button>
                            <button
                                *ngIf="!availableRoom.roomInfo.isPublic"
                                class="button"
                                (click)="askToJoinRoom(availableRoom)"
                                [disabled]="isInRoom || availableRoom.roomInfo.gameType !== room.roomInfo.gameType"
                            >
                                Joindre [ASK]
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>

    <div #darkBackground class="dark-background">
        <div #roomPasswordPopup class="room-password-popup">
            <div class="pop-up-title">Partie Privée</div>
            <div>Veuillez entrer le mot de passe pour joindre la partie</div>
            <input #roomPasswordInput class="simple-input" type="password" />
            <div class="buttons-container">
                <button (click)="closePasswordPopup(roomPasswordPopup, darkBackground)" class="button cancel-button popup">Quitter</button>
                <button (click)="joinRoom(roomPasswordInput.value)" class="button popup">Joindre</button>
            </div>
        </div>
    </div>
    <app-menu></app-menu>
</div>
