$avatarMinDimension: 60px;
$avatarMaxDimension: 80px;
$rightMargin: 10px;
$leftMargin: 10px;
$gameMinWidth: 390px;

.page-body {
    flex-grow: 1;
}

.form-title {
    margin-bottom: 0px;
}

.column-grid {
    display: grid;
    grid-template-columns: auto;
    min-width: 70vw;
}

.column-grid.two {
    grid-template-columns: auto auto;
}

.game {
    display: flex;
    flex-direction: column;
    background-color: var(--modal-background);
    border: 1px solid var(--modal-background);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    min-width: $gameMinWidth;
}

.game-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 15px 0px;
}

.game-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-info-icon {
    font-weight: bold;
    margin-right: 10px;
}

.game-info-value {
    font-weight: bold;
    font-size: 20px;
}

.game-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: $avatarMaxDimension;
    height: $avatarMaxDimension;
    border-radius: $avatarMaxDimension;
    margin: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1200px) {
    .avatar {
        width: $avatarMinDimension;
        height: $avatarMinDimension;
        border-radius: $avatarMinDimension;
        margin: 5px;
    }

    .button {
        height: 45px;
    }
}

@media (max-width: 1025px) {
    .column-grid.two {
        display: grid;
        grid-template-columns: auto;
        min-width: 70vw;
    }
}

.popup-container {
    z-index: 3;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-container.show {
    display: flex;
}

.room-password-popup {
    display: flex;
    flex-direction: column;
    background-color: var(--modal-background);
    border: 1px solid var(--modal-background);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px;
    color: var(--basic-font-color);
    min-width: $gameMinWidth;
}

.pop-up-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.simple-input {
    margin: 20px 0px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.button.popup {
    width: fit-content;
    margin: 0px 10px;
}

.right-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.fa-eye {
    font-size: 25px;
}

.fa-id-card {
    font-size: 20px;
}
