<div class="page-container mat-app-background" [class.mat-app-background]="themeService.darkThemeSelected">
    <div class="page-body">
        <app-hearder></app-hearder>

        <div class="body-main-container">
            <div class="page-title">
                <div class="form-title" [translate]="'CLASSIC.JOIN-MULTI.TITLE'"></div>
                <hr style="margin-top: 0%; background-color: black" width="35%" size="1" />
            </div>

            <div class="column-grid" [class.two]="availableRooms.length > 1">
                <div class="game" *ngFor="let availableRoom of availableRooms">
                    <div class="game-info-container">
                        <div class="game-info">
                            <div class="game-info-icon">[+_+]</div>
                            <div class="game-info-value">{{ availableRoom?.botsLevel }}</div>
                        </div>
                        <div class="game-info">
                            <span class="material-symbols-outlined game-info-icon"> Alarm </span>
                            <div class="game-info-value">{{ getFormattedTimerPerTurn(availableRoom) }}</div>
                        </div>
                    </div>

                    <div class="game-body">
                        <div class="game-players">
                            <img
                                class="avatar"
                                [src]="availableRoom.players[0] ? availableRoom.players[0].clientAccountInfo.userSettings.avatarUrl : botAvatarUrl"
                            />
                            <img
                                class="avatar"
                                [src]="availableRoom.players[1] ? availableRoom.players[1].clientAccountInfo.userSettings.avatarUrl : botAvatarUrl"
                            />
                            <img
                                class="avatar"
                                [src]="availableRoom.players[2] ? availableRoom.players[2].clientAccountInfo.userSettings.avatarUrl : botAvatarUrl"
                            />
                            <img
                                class="avatar"
                                [src]="availableRoom.players[3] ? availableRoom.players[3].clientAccountInfo.userSettings.avatarUrl : botAvatarUrl"
                            />
                        </div>
                        <div class="game-buttons">
                            <button
                                *ngIf="availableRoom.roomInfo.isPublic && availableRoom.roomInfo.password.length > 0"
                                class="button"
                                (click)="openPasswordPopup(availableRoom, roomPasswordPopup, darkBackground)"
                                [disabled]="isInRoom || availableRoom.roomInfo.gameType !== room.roomInfo.gameType"
                                [translate]="'CLASSIC.JOIN-MULTI.BUTTON-LOCK'"
                            ></button>
                            <button
                                *ngIf="availableRoom.roomInfo.isPublic && availableRoom.roomInfo.password.length === 0"
                                class="button"
                                (click)="joinRoom('', availableRoom)"
                                [disabled]="isInRoom || availableRoom.roomInfo.gameType !== room.roomInfo.gameType"
                                [translate]="'CLASSIC.JOIN-MULTI.BUTTON'"
                            ></button>
                            <button
                                *ngIf="!availableRoom.roomInfo.isPublic"
                                class="button"
                                (click)="askToJoinRoom(availableRoom)"
                                [disabled]="isInRoom || availableRoom.roomInfo.gameType !== room.roomInfo.gameType"
                                [translate]="'CLASSIC.JOIN-MULTI.BUTTON-LOCK'"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>

    <div #darkBackground class="dark-background">
        <div #roomPasswordPopup class="room-password-popup">
            <div class="pop-up-title" [translate]="'CLASSIC.JOIN-MULTI.POPUP.TITLE'"></div>
            <div [translate]="'CLASSIC.JOIN-MULTI.POPUP.BODY'"></div>
            <input #roomPasswordInput class="simple-input" type="password" placeholder="{{ 'CLASSIC.JOIN-MULTI.POPUP.INPUT' | translate }}" />
            <div class="buttons-container">
                <button
                    (click)="closePasswordPopup(roomPasswordPopup, darkBackground)"
                    class="button cancel-button popup"
                    [translate]="'OTHER.QUIT'"
                ></button>
                <button (click)="joinRoom(roomPasswordInput.value)" class="button popup" [translate]="'OTHER.JOIN'"></button>
            </div>
        </div>
    </div>
    <app-menu></app-menu>
</div>
