.popup-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popup-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
