.name {
    width: 100%;
    text-align: center;
}

.badge-container {
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.badge {
    aspect-ratio: 1 / 1;
    height: 80%;
    margin: 0 4px;
    background-color: #ccc;
    border-radius: 100%;
    border: solid 2px rgba(0, 0, 0, 0.37);
}

.pic {
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 100%;
}

.avatar {
    aspect-ratio: 1 / 1;
    height: 64px;
    margin: 0 4px;
    background-color: #ccc;
    border-radius: 100%;
}

.level {
    display: flex;
    width: 90%;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background-color: var(--section-background);
}

.level-container {
    display: flex;
    justify-content: center;
    margin: 4px 0;
    width: 100%;
}

.lvl-number {
    display: flex;
    width: 10%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.bold {
    font-weight: bolder;
    font-size: 1.75em;
    margin: 4px;
}

.progress div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.3333333%;
}

.progress {
    width: 100%;
}

progress[value] {
    width: 90%;
    background-color: var(--accent);
    height: 30%;
    border-radius: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #ccc;
    border-radius: 100px;
}

progress[value]::-webkit-progress-value {
    background-color: var(--accent);
    border-radius: 100px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.fraction {
    float: right;
    padding-right: 5%;
}

.high-scores {
    display: flex;
    justify-content: center;
    margin: 32px 0 0 8px;
}

H3 {
    margin: 0;
    text-align: center;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 24px;
}

.mode p {
    font-size: 1.2em;
    margin-top: 4px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: var(--accent);
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: var(--nav-bar-background);
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: var(--accent);
}
.mat-slide-toggle {
    transform: scale(1.2);
}
.objectives-header {
    display: flex;
    justify-content: start;
    margin: 64px 0 0 12px;
    width: 95%;
}

.objectives-header h1 {
    margin-left: 5%;
}

.objectives-header .toggle {
    margin-right: 5%;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12%;
}

.objectives-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 92%;
    padding: 0 2% 0 5%;
    column-gap: 16px;
    row-gap: 16px;
    overflow-y: auto;
    height: 25vw;
    scrollbar-gutter: stable;
}
.objective div {
    height: 33.33333%;
    display: flex;
    align-items: center;
}
.objective {
    height: 100px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: var(--section-background);
}

.objective div H3 {
    padding-left: 5%;
}
.objective .bar {
    justify-content: center;
}

.complete {
    border: 3px solid var(--accent);
    background-color: var(--accent-white);
}

.complete div {
    color: var(--accent);
}
