<div class="page-container">
    <div class="page-body mat-app-background" [class.mat-app-background]="themeService.darkThemeSelected">
        <div class="name">
            <div class="image-container">
                <img class="avatar" [src]="userInfo.userSettings.avatarUrl" alt="SantaBadge" />
                <img *ngIf="objService.currentLevel >= 2" class="border" [src]="border" alt="SantaBadge" />
            </div>

            <H1 class="username">{{ userInfo.username }}</H1>
        </div>

        <div class="badge-container">
            <div class="badge" *ngFor="let badge of userInfo.badges">
                <img class="pic" [src]="httpService.getBadgeURL(badge.imageURL)" [alt]="badge.id" [title]="badge.description" />
            </div>
        </div>
        <div class="level-container">
            <div class="level">
                <div class="lvl-number">
                    <p class="bold" [translate]="'USER-PAGE.LEVEL'"></p>
                    <p class="bold">{{ objService.currentLevel }}</p>
                </div>
                <div class="progress">
                    <div></div>
                    <div>
                        <progress
                            value="{{ objService.totalXP - objService.currentLevelXp }}"
                            max="{{ objService.xpForNextLevel + objService.totalXP - objService.currentLevelXp }}"
                        ></progress>
                    </div>
                    <div class="fraction">
                        {{ objService.totalXP - objService.currentLevelXp }}/{{
                            objService.xpForNextLevel + objService.totalXP - objService.currentLevelXp
                        }}
                    </div>
                </div>
            </div>
        </div>
        <div class="high-scores">
            <div style="display: flex; flex-direction: column; gap: 5px; width: 30%">
                <H3 [translate]="'USER-PAGE.VICTORIES'"></H3>
                <h3>{{ progressInfo.victoriesCount }}</h3>
            </div>
            <i class="fa fa-trophy fa-4x"></i>
            <div style="display: flex; flex-direction: column; gap: 5px; width: 30%">
                <H3 [translate]="'USER-PAGE.HIGHEST-SCORE'"></H3>
                <h3>{{ objService.highScore }}</h3>
            </div>
        </div>

        <div class="objectives-header">
            <h1 [translate]="'USER-PAGE.OBJECTIVES'"></h1>
        </div>
        <div class="objectives-container">
            <div class="objective" [class.complete]="obj.target === obj.progression" *ngFor="let obj of objectives">
                <div>
                    <h3>{{ obj.name }}</h3>
                </div>
                <div class="bar"><progress [value]="obj.progression" [max]="obj.target"></progress></div>
                <div class="fraction">{{ obj.progression }}/{{ obj.target }}</div>
            </div>
        </div>
    </div>
    <app-menu></app-menu>
</div>
