<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="name">
    <H1>Étienne</H1>
</div>

<div class="badge-container">
    <div class="badge"></div>
    <div class="badge"></div>
    <div class="badge"></div>
    <div class="badge"></div>
    <div class="badge"></div>
    <div class="badge"></div>
    <div class="badge"></div>
    <div class="badge"></div>
</div>
<div class="level-container">
    <div class="level">
        <div class="lvl-number">
            <p class="bold">niv</p>
            <p class="bold">4</p>
        </div>
        <div class="progress">
            <div></div>
            <div><progress value="32" max="100"></progress></div>
            <div class="fraction">32/100</div>
        </div>
    </div>
</div>
<div class="high-scores">
    <div class="classique mode">
        <H3>Classique</H3>
        <p>160</p>
    </div>
    <i class="fa fa-trophy fa-4x"></i>
    <div class="log2990 mode">
        <H3>Log2990</H3>
        <p>160</p>
    </div>
</div>
<H3>18 victoires</H3>
<div class="objectives-header">
    <H2> Objectifs</H2>
    <div class="toggle">
        <p>Afficher complété</p>
        <mat-slide-toggle [checked]="checked"></mat-slide-toggle>
    </div>
</div>
<div class="objectives-container">
    <div class="objective">
        <div><h3>Chanter fort</h3></div>
        <div class="bar"><progress value="32" max="100"></progress></div>
        <div class="fraction">32/100</div>
    </div>
    <div class="objective">
        <div><h3>Chanter fort</h3></div>
        <div class="bar"><progress value="32" max="100"></progress></div>
        <div class="fraction">32/100</div>
    </div>
    <div class="objective">
        <div><h3>Chanter fort</h3></div>
        <div class="bar"><progress value="32" max="100"></progress></div>
        <div class="fraction">32/100</div>
    </div>
    <div class="objective complete">
        <div><h3>Chanter fort</h3></div>
        <div class="bar"><progress value="100" max="100"></progress></div>
        <div class="fraction">100/100</div>
    </div>
    <div class="objective complete">
        <div><h3>Chanter fort</h3></div>
        <div class="bar"><progress value="100" max="100"></progress></div>
        <div class="fraction">100/100</div>
    </div>
    <div class="objective complete">
        <div><h3>Chanter fort</h3></div>
        <div class="bar"><progress value="100" max="100"></progress></div>
        <div class="fraction">100/100</div>
    </div>
    <div class="objective complete">
        <div><h3>Chanter fort</h3></div>
        <div class="bar"><progress value="100" max="100"></progress></div>
        <div class="fraction">100/100</div>
    </div>
</div>
