<mat-dialog-content class="changePasswordPopup">
    <h1 style="color: var(--basic-font-color)" [translate]="'SETTINGS-PAGE.PASSWORD'"></h1>
    <p style="color: var(--basic-font-color); font-size: 20px" [translate]="'SETTINGS-PAGE.PASSWORD-MESSAGE'"></p>
</mat-dialog-content>
<mat-dialog-actions class="popup-actions">
    <div></div>
    <div class="popup-buttons-container">
        <button class="button cancel-button" (click)="closeDialog()" [translate]="'OTHER.CANCEL'"></button>
        <button class="button" (click)="submitChangePasswordRequest()" [translate]="'OTHER.CONFIRM'"></button>
    </div>
</mat-dialog-actions>
