.changePasswordPopup {
    height: 150px;
    div {
        height: 150;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.popup-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popup-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
