<div class="container">
    <p>Barre latérale pour vos outils!</p>
    <p>
        Ceci est un exemple de base pour vous aider à débuter le projet <br />
        L'implémentation ici ne couvre pas les critères d'acceptation du projet! <br />
        La grille et le mot "Scrabble" sont écrits sur le Canvas avec du code, <br />
        mais à des positions fixes <br />
        Vous devez modifier et compléter le code.<br />
        <strong>N'oubliez pas de regarder les tests dans les fichiers spec.ts aussi!</strong>
    </p>
</div>
