<div class="page-container">
    <div class="page-body mat-app-background" [class.mat-app-background]="themeService.darkThemeSelected">
        <div class="body-main-container">
            <div class="page-title">
                <div class="form-title settings-title">Paramètre</div>
                <hr style="margin-top: 0%; background-color: black" width="35%" size="1" />
            </div>
            <form [formGroup]="settingsForm">
                <div class="page-options">
                    <div class="avatar-section">
                        <img (click)="openAvatarUrlsChoices()" [src]="avatarURL" class="avatar-img" />
                        <button (click)="openAvatarUrlsChoices()" class="circle-icon">editer</button>
                    </div>
                    <div class="theme-section">
                        <p class="section-title">Thème de couleur</p>
                        <div class="radio-button-option">
                            <input
                                type="radio"
                                (input)="themeService.switchTheme()"
                                id="dark"
                                name="defaultTheme"
                                value="dark"
                                formControlName="defaultTheme"
                            />
                            <label for="dark">Sombre</label><br />
                        </div>
                        <div>
                            <input
                                type="radio"
                                (input)="themeService.switchTheme()"
                                id="light"
                                name="defaultTheme"
                                value="light"
                                formControlName="defaultTheme"
                            />
                            <label for="light">Clair</label><br />
                        </div>
                    </div>
                    <div class="language-section">
                        <p class="section-title">Language</p>
                        <div class="radio-button-option">
                            <input type="radio" id="french" name="defaultLanguage" value="french" formControlName="defaultLanguage" />
                            <label for="french">Français</label><br />
                        </div>
                        <div>
                            <input type="radio" id="english" name="defaultLanguage" value="english" formControlName="defaultLanguage" />
                            <label for="english">English</label><br />
                        </div>
                    </div>
                    <div class="victory-music-section">
                        <label for="music" class="section-title">Musique de victoire: </label>
                        <select name="Music" id="music" (change)="onMusicSelectionChange($event)">
                            <option
                                *ngFor="let music of musicOptions"
                                [selected]="settingsForm.controls.victoryMusic.value === music.key"
                                [value]="music.key"
                            >
                                {{ music.value }}
                            </option>
                        </select>
                        <br /><br />
                    </div>
                    <button class="password-section">Changer le mot de passe</button>

                    <input class="save-button button" type="submit" value="Sauvegarder" (click)="sendData()" [disabled]="!changed" />
                </div>
            </form>
        </div>
        <div class="footer"></div>
    </div>
    <app-menu></app-menu>
</div>
