.settings-title {
    margin-top: 50px;
}

.page-options {
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 600px;
    min-height: 400px;
    align-items: center;
    justify-content: space-between;
    height: 25vw;

    .section-title {
        font-size: 24px;
        padding-right: 10%;
        min-width: 300px;
    }

    .radio-button-option {
        padding-right: 5%;
        width: 50%;
    }
    .avatar-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .avatar-img {
            width: 150px;
            height: 150px;
            border-radius: 150px;
            flex-shrink: 0;
            border: 3px solid black;

            &:hover {
                cursor: pointer;
            }
        }

        .circle-icon {
            position: relative;
            bottom: 150px;
            left: 60px;
            min-width: 50px;
            min-height: 50px;
            border-radius: 50px;
            background-color: white;
            border: 2px solid black;
            text-align: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
    .theme-section,
    .language-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .theme-section div label {
        z-index: 999;
    }

    .theme-section div input {
        z-index: -1;
    }

    .theme-section label:hover {
        cursor: pointer;
    }

    .victory-music-section {
        display: flex;
        flex-direction: row;
        width: 100%;
        #music {
            width: 30%;
            height: 32px;
        }
    }

    .radio-displayer {
        display: flex;
        width: 30%;
        min-width: 240px;
    }

    .save-button {
        position: fixed;
        bottom: 100px;
        right: 100px;
        align-items: center;
        color: white;
        font-size: 16px;
        height: 40px;
        width: fit-content;
        padding-left: 2%;
        padding-right: 2%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border-style: none;

        &:disabled {
            cursor: not-allowed;
            background: #cccccc;
        }
    }
    label {
        font-size: 20px;
    }
}

.password-section {
    display: flex;
    justify-content: start;
    width: 600px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(87, 87, 249);
    text-decoration: underline;
    font-size: 20px;
    background: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }

    &:active {
        cursor: pointer;
    }
}

.settings-username {
    width: 200px;
    margin-bottom: 5%;
    margin-top: -5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.invalidUsernameMessage {
    margin-bottom: 5%;
}
