.goal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 8px;

    text-align: start;
    color: var(--basic-font-color);
    font-family: 'Nunito';
    font-size: 20px;

    border: 0px;
    height: 64px;
    width: 100%;
    border: solid 2px rgba(0, 0, 0, 0.4);
    padding: 20px;
    background-color: var(--section-background);

    cursor: pointer;
    transition: background-color 0.15s, box-shadow 0.15s, transform 0.15s;
}

.goal-container.goal-reached,
.goal-container.goal-private.goal-reached {
    background-color: var(--section-background);
    border: solid 4px var(--accent);
}

.goal-container > .reward {
    font-size: 24px;
    color: var(--basic-font-color);
}

.goal-container:hover {
    transform: translateY(-2px);
}

.goal-container:enabled:active {
    transform: translateY(2px);
    box-shadow: 0px -7px 0px var(--accent) inset;
}

.goal-container.goal-private:enabled:active {
    transform: translateY(2px);
    box-shadow: 0px -7px 0px var(--nav-bar-background) inset;
}

.goal-container.goal-reached:enabled:active,
.goal-container.goal-private.goal-reached:enabled:active {
    transform: translateY(2px);
    box-shadow: 0px -7px 0px #ababab inset;
}
