.name {
    width: 100%;
    text-align: center;
}
.user {
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    width: 100px;
    background-color: rgb(228, 228, 228);
    object-fit: cover;
}

.user-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.badge-container {
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.badge {
    aspect-ratio: 1 / 1;
    height: 80%;
    margin: 0 4px;
    background-color: #ccc;
    border-radius: 100%;
    border: solid 2px rgba(0, 0, 0, 0.37);
}

.pic {
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 100%;
}

.avatar {
    aspect-ratio: 1 / 1;
    height: 64px;
    margin: 0 4px;
    background-color: #ccc;
    border-radius: 100%;
    object-fit: cover;
}

.level {
    display: flex;
    width: 90%;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    margin-top: 10px;
}

.level-container {
    display: flex;
    justify-content: center;
    margin: 0 0 48px 0;
    min-width: 400px;
}

.lvl-number {
    display: flex;
    width: 10%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.bold {
    font-weight: bolder;
    font-size: 1.75em;
    margin: 4px;
}

.progress div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.3333333%;
}

.progress {
    width: 100%;
}

progress[value] {
    width: 90%;
    background-color: var(--accent);
    height: 30%;
    border-radius: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #ccc;
    border-radius: 100px;
}

progress[value]::-webkit-progress-value {
    background-color: var(--accent);
    border-radius: 100px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.fraction {
    float: right;
    padding-right: 5%;
    color: var(--basic-font-color);
}

.high-scores {
    display: flex;
    justify-content: center;
    margin: 32px 0 0 8px;
}

H3 {
    margin: 0;
    text-align: center;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 24px;
}

.mode p {
    font-size: 1.2em;
    margin-top: 4px;
}

.button-container {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 90%;
}

.border {
    aspect-ratio: 1/1;
    height: 148px;
    position: relative;
    left: 24%;
    bottom: 124%;
}
.image-container {
    height: 96px;
    width: 96px;
    display: flex;
    margin: 16px 16px 0 24px;
    flex-direction: column;
    align-items: flex-end;
}
