<div class="page-container">
    <div class="page-body">
        <app-hearder></app-hearder>

        <div class="body-main-container">
            <form [formGroup]="gameForm">
                <div class="error-message-container" *ngIf="isServerUnreachable">
                    <mat-icon>error_outline</mat-icon>
                    <div class="error-message">Serveur indisponible, veuillez réessayer plus tard</div>
                </div>
                <div class="error-message-container" *ngIf="room.roomInfo.gameType !== 'log2990' && room.roomInfo.gameType !== 'classic'">
                    <mat-icon>error_outline</mat-icon>
                    <div class="error-message">Votre mode de jeu est invalide, veuillez revenir en arrière</div>
                </div>

                <div class="gray-box">
                    <div class="section-title-container">
                        <div *ngIf="isSolo" class="form-title">Partie Solo</div>
                        <div *ngIf="!isSolo" class="form-title">Partie Multijoueur</div>
                        <hr style="margin-top: 0%; background-color: black" width="90%" size="1" />
                    </div>
                    <div *ngIf="isSolo" class="input-container">
                        <label #botNameLabel (click)="focusInput(botNameSelect)" class="simple-label placeholder select"
                            >Nom du joueur virtuel
                        </label>
                        <select
                            #botNameSelect
                            (focus)="setPlaceholderAsLabel(botNameLabel)"
                            (input)="setPlaceholderAsLabel(botNameLabel)"
                            (blur)="setLabelAsPlaceholder(botNameLabel, 'botName')"
                            class="simple-input"
                            [class.invalid]="false"
                            formControlName="botName"
                        >
                            <option [value]="'Simon'">Simon</option>
                            <option [value]="'Lucie'">Lucie</option>
                            <option [value]="'Jojo'">Jojo</option>
                        </select>
                    </div>

                    <div class="input-container">
                        <label #levelLabel (click)="focusInput(levelSelect)" class="simple-label placeholder select"
                            >Difficulté des joueurs virtuels
                        </label>
                        <select
                            #levelSelect
                            (focus)="setPlaceholderAsLabel(levelLabel)"
                            (input)="setPlaceholderAsLabel(levelLabel)"
                            (blur)="setLabelAsPlaceholder(levelLabel, 'level')"
                            class="simple-input"
                            [class.invalid]="false"
                            formControlName="level"
                        >
                            <option [value]="'beginner'">{{ gameLevel.Beginner }}</option>
                            <option [value]="'expert'">{{ gameLevel.Expert }}</option>
                            <option [value]="'adaptatif'">{{ gameLevel.Adaptative }}</option>
                        </select>
                    </div>

                    <div class="input-container">
                        <label #timerLabel (click)="focusInput(timerSelect)" class="simple-label placeholder select">Temps par tour </label>
                        <select
                            #timerSelect
                            (focus)="setPlaceholderAsLabel(timerLabel)"
                            (input)="setPlaceholderAsLabel(timerLabel)"
                            (blur)="setLabelAsPlaceholder(timerLabel, 'timerPerTurn')"
                            class="simple-input"
                            [class.invalid]="false"
                            formControlName="timerPerTurn"
                        >
                            <option [value]="30">30</option>
                            <option [value]="60">60</option>
                            <option [value]="90">90</option>
                            <option [value]="120">120</option>
                            <option [value]="150">150</option>
                            <option [value]="180">180</option>
                            <option [value]="210">210</option>
                            <option [value]="240">240</option>
                            <option [value]="270">270</option>
                            <option [value]="300">300</option>
                        </select>
                    </div>

                    <div *ngIf="!isSolo" class="room-type-container">
                        <div>Partie publique</div>
                        <input type="checkbox" formControlName="isPublic" class="room-type-checkbox" />
                    </div>

                    <div *ngIf="!isSolo" [class.hide]="!gameForm.get('isPublic')?.value" class="input-container">
                        <label #roomPasswordLabel (click)="focusInput(roomPasswordInput)" class="simple-label placeholder">Mot de Passe</label>
                        <input
                            #roomPasswordInput
                            (focus)="setPlaceholderAsLabel(roomPasswordLabel)"
                            (input)="setPlaceholderAsLabel(roomPasswordLabel)"
                            (blur)="setLabelAsPlaceholder(roomPasswordLabel, 'roomPassword')"
                            (keyup.enter)="createRoom()"
                            formControlName="roomPassword"
                            name="password"
                            type="password"
                            class="simple-input"
                        />
                    </div>

                    <div class="confirm-buttons-container">
                        <button *ngIf="isSolo" class="button" (click)="createRoom()" [disabled]="onProcess || !gameForm.valid || !hasValidGameType">
                            Créer la partie
                        </button>
                        <button *ngIf="!isSolo" class="button" (click)="createRoom()" [disabled]="onProcess || !gameForm.valid || !hasValidGameType">
                            Créer la partie
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="footer"></div>
    </div>
    <app-menu></app-menu>
</div>
