$tileWIdth: 45px;
$tileDragWidth: 38px;
$rackTileBorder: 2px solid rgba(0, 0, 0, 0.3);
$rackTileColor: #ecba8c;
$rackTileBoxShadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);

.play-area-flex-container {
    padding-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.rack {
    height: 50px;
}

.flex-container .button {
    max-width: 150px;
}

#rack {
    transition: transform 0.15s;
}

#rack:hover {
    transform: translateY(-2px);
}

.flex-container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px 15px;
    transition: transform 0.15s;
}

.flex-container:hover {
    transform: translateY(-4px);
}

.side-button-container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 140px;
}

.side-button-container:hover {
    transform: translateY(-2px);
}

.side-button-container .button {
    width: 112px;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 2%;
    background-color: var(--app-background);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 0.1%;
    padding-left: 0.5%;
}

.y-axis {
    gap: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.placed-tile-letter {
    position: relative;
    top: 10px;
}

.placed-tile-points {
    font-size: 11px;
    width: 100%;
    margin-right: 4px;
    text-align: end;
}

.tile-drag {
    font-size: 18px;
    color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: $tileDragWidth;
    max-width: $tileDragWidth;
    max-height: $tileDragWidth;
    min-height: $tileDragWidth;

    &.placement {
        border-radius: 5px;
        // border: $rackTileBorder;
        box-shadow: $rackTileBoxShadow;
        background-color: $rackTileColor;
    }

    &.placement.new {
        border: 3px solid red;
    }

    &.pink {
        background-color: pink;
    }

    &.preview {
        border: 3px solid red;
        border-radius: 5px;
        box-shadow: $rackTileBoxShadow;
        background-color: $rackTileColor;
        background-color: pink;
    }
}

.tile {
    cursor: default;
    font-size: 15px;
    color: var(--basic-board-tile-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: $tileWIdth;
    max-width: $tileWIdth;
    max-height: $tileWIdth;
    min-height: $tileWIdth;
    background-color: var(--basic-board-tile-color);
    border-radius: 5px;
}

.tile.star {
    background-color: var(--word-2-tile-color);
}

.tile.letter2-multiplier {
    background-color: var(--letter-2-tile-color);
}

.tile.letter3-multiplier {
    background-color: var(--letter-3-tile-color);
}

.tile.word2-multiplier {
    background-color: var(--word-2-tile-color);
}

.tile.word3-multiplier {
    background-color: var(--word-3-tile-color);
}

.tile.edge {
    color: var(--basic-font-color);
    background-color: var(--app-background);
}
