$tileWIdth: 45px;
$tileDragWidth: 38px;

.play-area-flex-container {
    padding-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.rack {
    height: 50px;
}

.flex-container .button {
    max-width: 150px;
}

#rack {
    transition: transform 0.15s;
}

#rack:hover {
    transform: translateY(-2px);
}

.flex-container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px 15px;
    transition: transform 0.15s;
}

.flex-container:hover {
    transform: translateY(-4px);
}

.side-button-container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 140px;
}

.side-button-container:hover {
    transform: translateY(-2px);
}

.side-button-container .button {
    width: 112px;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 2%;
    background-color: var(--app-background);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 0.1%;
    padding-left: 0.5%;
}

.y-axis {
    gap: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.placed-tile-points {
    font-size: 11px;
    width: 100%;
    margin-right: 4px;
    text-align: end;
}

.tile-drag {
    font-size: 18px;
    color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: $tileDragWidth;
    max-width: $tileDragWidth;
    max-height: $tileDragWidth;
    min-height: $tileDragWidth;
}

.tile-drag.placement {
    background-color: #ecba8c;
}

.tile-drag.placement.new {
    border: 3px solid red;
}

.tile-drag.pink {
    background-color: pink;
}

.tile {
    cursor: default;
    font-size: 15px;
    color: rgb(102, 102, 102);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: $tileWIdth;
    max-width: $tileWIdth;
    max-height: $tileWIdth;
    min-height: $tileWIdth;
    background-color: #ffebce;
}

.tile.star {
    background-color: #ffc7c7;
}

.tile.letter2-multiplier {
    background-color: #bbbeca;
}

.tile.letter3-multiplier {
    background-color: #a8bbff;
}

.tile.word2-multiplier {
    background-color: #ffc7c7;
}

.tile.word3-multiplier {
    background-color: #e8a1a1;
}

.tile.edge {
    background-color: var(--app-background);
}
