<div class="play-area-flex-container">

    <div #boardContainer *ngIf="isBoardReady" class="board-container">
        <div cdkDropList [id]="'' + i" class="y-axis" *ngFor="let yAxis of board; index as i">
            <div
                [class.edge]="i === 0 || j === 0"
                [class.letter2-multiplier]="tile.content === 'Lettre x2'"
                [class.letter3-multiplier]="tile.content === 'Lettre x3'"
                [class.word2-multiplier]="tile.content === 'Mot x2'"
                [class.word3-multiplier]="tile.content === 'Mot x3'"
                [class.star]="tile.content === '★'"
                class="tile"
                *ngFor="let tile of yAxis; index as j"
            >
                <div #container (click)="mouseHitDetect($event, { x: j, y: i })" (mouseup)="dragEnd({ x: j, y: i })" class="tile-container">
                    <div
                        *ngIf="i !== 0 && j !== 0"
                        cdkDrag
                        (cdkDragStarted)="boardService.selectTileForManipulation(boardService.lettersInBoard[j][i])"
                        (cdkDragEnded)="boardService.endTileDragging()"
                        [cdkDragData]="boardService.lettersInBoard[j][i]"
                        class="tile-drag"
                        [class.placement]="boardService.lettersInBoard[j][i].content !== ''"
                        [class.new]="boardService.lettersInBoard[j][i].typeOfSelection === selectionType.BOARD"
                        [class.pink]="boardService.lettersInBoard[j][i].color === 'PINK' && boardService.lettersInBoard[j][i].content"
                    >
                        {{ boardService.lettersInBoard[j][i].content }}
                        <div *ngIf="canShowPoint(boardService.lettersInBoard[j][i])" class="placed-tile-points">
                            {{ boardService.lettersInBoard[j][i].points }}
                        </div>
                    </div>
                    <div>{{ tile.content }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
